<ion-view view-title="Sign-In">
  <ion-content>
    <div class="">
      <h1 class="title">Landlord-Tenant</h1>
    </div>

    <div class="list list-inset">
      <label class="item item-input">
        <input type="text" name="email" placeholder="Email Address" ng-model="LoginVM.userInfo.email">
      </label>
      <label class="item item-input">
        <input type="text" name="password" placeholder="Password" ng-model="LoginVM.userInfo.password">
      </label>
    </div>

    <button class="button button-calm button-block center-button" ng-click="LoginVM.continue()">
      SIGN IN
    </button>
  </ion-content>
</ion-view>
