@import url('https://fonts.googleapis.com/css?family=Catamaran|Libre+Baskerville');

body {
  background-image: url('assets/images/bg.jpg')
}

.title {
  text-align: center;
  margin: 20px auto 150px;
  font-family: 'Catamaran', serif;
  color: #000000;
}

.button-calm {
  height: 50px;
  width: 200px;
}

.button-block {
  width: 300px;
}

.signup {
  text-align: center;
  width: 100%;
  background: #ffffff;
  text-decoration: underline;
}
