@import url('https://fonts.googleapis.com/css?family=Catamaran|Libre+Baskerville');

.title {
  text-align: center;
  margin: 20px auto 150px;
  font-family: 'Catamaran', serif;
  color: #fff;
}

.button, .button-calm {
  height: 50px;
  width: 200px;
  background-color: #fff;
  color: #00CED1;
}

.button-block {
  width: 300px;
}

.signup {
  text-align: center;
  width: 100%;
  color: #fff;
  background-color: rgba(0, 0, 0, 0);
  text-decoration: underline;
}
