.app-body{
  margin-top: 0 0 100px 0;
}

.pane {
  background-image: url('https://www.xmple.com/wallpaper/gradient-purple-blue-linear-5120x2880-c2-9400d3-00ced1-a-345-f-14.svg');
  background-attachment: cover;
  background-color: ;
}

.noPropBody {
  text-align: center;
}
